<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scheduling Simulation</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Scheduling Simulation</h1>
      <form method="POST" action="/">
        <div class="form-group">
          <label for="process">Processes (comma-separated):</label>
          <input
            type="text"
            id="process"
            name="process"
            placeholder="e.g., P1, P2, P3"
            required
          />
        </div>

        <div class="form-group">
          <label for="burst_time">Burst Times (comma-separated):</label>
          <input
            type="text"
            id="burst_time"
            name="burst_time"
            placeholder="e.g., 5, 3, 8"
            required
          />
        </div>

        <div class="form-group">
          <label for="arrival_time">Arrival Times (comma-separated):</label>
          <input
            type="text"
            id="arrival_time"
            name="arrival_time"
            placeholder="e.g., 0, 1, 2"
            required
          />
        </div>

        <div class="form-group">
          <label for="algorithm">Select Algorithm:</label>
          <select
            id="algorithm"
            name="algorithm"
            required
            onchange="toggleQuantumField()"
          >
            <option value="" hidden>Select an algorithm</option>
            <option value="FCFS">First Come First Serve (FCFS)</option>
            <option value="PS">Priority Scheduler</option>
            <option value="SJF">Shortest Job First (SJF)</option>
            <option value="RR">Round Robin (RR)</option>
          </select>
        </div>

        <div
          class="form-group"
          id="timeQuantumField"
          style="display: none; flex-direction: column"
        >
          <label for="time_quantum">Time Quantum:</label>
          <input
            type="number"
            id="time_quantum"
            name="time_quantum"
            placeholder="e.g., 2"
            min="1"
            style="
              padding: 8px;
              border: 1px solid #ccc;
              border-radius: 4px;
              width: 100%;
              max-width: 300px;
            "
          />
        </div>

        <div
          class="form-group"
          id="timePriorityField"
          style="display: none; flex-direction: column"
        >
          <label for="priority">Priority (comma-separated):</label>
          <input
            type="text"
            id="priority"
            name="priority"
            placeholder="e.g. 1,2,3"
          />
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>

    <script>
      function toggleQuantumField() {
        var algorithm = document.getElementById("algorithm").value;
        var timeQuantumField = document.getElementById("timeQuantumField");
        var timePriorityField = document.getElementById("timePriorityField");

        if (algorithm === "RR") {
          timeQuantumField.style.display = "flex";
        } else {
          timeQuantumField.style.display = "none";
        }

        if (algorithm === "PS") {
          timePriorityField.style.display = "flex";
        } else {
          timePriorityField.style.display = "none";
        }
      }
    </script>
  </body>
</html>
